<h1><code>fm</code></h1>

<p>
  Form components are a collection of components that works
  with models and bind the properties along with the appropriate
  validations to input components.
</p>

<p>
  You start with <code>fm-form</code> component and pass in an model object.
  The component will yield contextual <code>fm-field</code> components with
  value and validations approriately bound.
</p>

<p>
  The <code>fm-field</code> component further yields contextual input components
  that have value bound.
</p>

{{#docs-demo as |demo|}}
  {{#demo.example name="fm"}}
    {{#fm-form model.user as |field|}}
      <div class="row">
        {{#field.firstName as |in|}}
          {{in.text}}
        {{/field.firstName}}
      </div>
    {{/fm-form}}
  {{/demo.example}}

  {{demo.snippet "fm.hbs"}}
{{/docs-demo}}
