.ui-tr--even {
  background: lightblue;
}

.ui-tr {
  height: 56px;
}

.ui-table--v2 {
  max-height: 50vh;
}

.ui-td,
.ui-th {
  padding: 0 10px;
}

ui-th ui-th:first-of-type {
  margin-left: -10px;
}

ui-th ui-th:last-of-type {
  margin-right: -10px;
}

