<h1>ui-backdrop</h1>

The <code>ui-backdrop</code> and <code>ui-position</code> component
serves as the basis for z-index management in <code>ember-ui-kit</code>.

{{#docs-demo as |demo|}}
  {{#demo.example name="ui-backdrop"}}
    {{ui-button "Show Backdrop" on-click=(action (mut show) true)}}

    {{#if show}}
      {{ui-backdrop on-click=(action (mut show) false)}}
    {{/if}}
  {{/demo.example}}

  {{demo.snippet "ui-backdrop.hbs"}}
{{/docs-demo}}
