.ui-tbody,
.ui-tbody__content {
  // FIXME creates stacking context // will-change: transform;
}

.ui-table--v2,
.ui-tr--each {
  display: flex;
  flex-direction: column;
}

.ui-thead {
  .x-resize {
    display: block;
  }

  .x-resize__container {
    align-items: flex-end;
    flex: 1;
    min-width: 0;
  }

  .ui-thead__content,
  .ui-sortable {
    white-space: nowrap;
  }
}

.ui-thead,
.ui-tfoot {
  min-height: max-content;
}

.ui-thead__content {
  display: flex;
  align-items: flex-end;
}

.ui-thead__content,
.ui-tfoot__content {
  overflow: hidden;
}

occluded-content {
  font-size: 0;
}

.ui-thead .x-resize__container,
.ui-tbody,
.ui-tfoot {
  display: flex;
}

.ui-td {
  overflow: hidden;
  box-sizing: border-box;
  transition: width 150ms ease-out, padding 150ms ease-out;

  * {
    // FIXME causes <td> display change display: block;
  }
}

.ui-th {
  box-sizing: border-box;
  transition: width 150ms ease-out, padding 150ms ease-out;
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
}

.ui-th .ui-resizable {
  display: block;
  overflow: hidden;
}

.ui-tbody {
  overflow-y: auto;
  flex: 1;
}

[data-table-block] {
  overflow: hidden;
}

[data-table-block="fixed"] {
  min-width: max-content;
}

[data-table-block="variable"] {
  min-width: 0;
  flex: 1;
}

.ui-tbody__content {
  overflow-x: scroll;
}

.ui-tbody .infinite-list-content {
  padding: 0;
}

.ui-tr,
.ui-tr > .fm-form {
  display: flex;
  min-height: 1em;
  align-items: center;
  min-width: min-content;
}

.ui-tr--measure {
  height: 0;
  overflow: hidden;
}

.ui-tr {
  overflow: hidden;
}
