
<h1>ui-anchor</h1>

{{#docs-demo as |demo|}}
  {{#demo.example name="ui-anchor"}}
    {{#each model as |section|}}
      {{ui-button section on-click=(action (mut anchor) section)}}
    {{/each}}

    {{#ui-anchor-switch anchor as |anchor|}}
      {{#each model as |section|}}
        {{#anchor.case section}}
          {{section}}
        {{/anchor.case}}
      {{/each}}
    {{/ui-anchor-switch}}
  {{/demo.example}}

  {{demo.snippet "ui-anchor.hbs"}}
{{/docs-demo}}
