<h1>ui-draggable</h1>

{{#docs-demo as |demo|}}
  {{#demo.example name="ui-draggable"}}
    {{#ui-draggable}}
      DRAG ME
    {{/ui-draggable}}
  {{/demo.example}}

  {{demo.snippet "ui-draggable.hbs"}}
{{/docs-demo}}
