<h1>ui-sortable</h1>

{{#docs-demo as |demo|}}
  {{#demo.example name="ui-sortable"}}
    {{#ui-sortable tagName="ul"}}
      <li>Apple</li>
      <li>Orange</li>
      <li>Banana</li>
    {{/ui-sortable}}
  {{/demo.example}}

  {{demo.snippet "ui-sortable.hbs"}}
{{/docs-demo}}
