<div class="ui-tr--measure">
  <div class="ui-tr"></div>
</div>
{{#if rowHeight}}
  {{#vertical-collection model containerSelector=".ui-tbody" key=key estimateHeight=rowHeight staticHeight=true bufferSize=5 as |item index|}}
    {{#ui-tr model=item index=index}}
      {{yield item index}}
    {{/ui-tr}}
  {{/vertical-collection}}
{{/if}}
