<div class="ui-tr--measure">
  <div class="ui-tr"></div>
</div>
{{#each bufferInPlace key="id" as |item|}}
  {{#ui-tr model=item.model index=item.index}}
    {{yield item.model item.index}}
  {{/ui-tr}}
{{/each}}
