<h1>ui-resizable</h1>

<p>
  <code>ui-resizable</code> is a <a href="http://api.jqueryui.com/resizable/">
    simple wrapper around jQueryUI's resizable components</a>.
</p>

<p>All options are delegated over.</p>

{{#docs-demo as |demo|}}
  {{#demo.example name="ui-resizable"}}
    {{#ui-resizable options=(hash)}}
      RESIZE ME
    {{/ui-resizable}}
  {{/demo.example}}

  {{demo.snippet "ui-resizable.hbs"}}
{{/docs-demo}}
