<h1>ui-resizable</h1>

{{#docs-demo as |demo|}}
  {{#demo.example name="ui-resizable"}}
    {{#ui-resizable}}
      RESIZE ME
    {{/ui-resizable}}
  {{/demo.example}}

  {{demo.snippet "ui-resizable.hbs"}}
{{/docs-demo}}
