{{docs-hero
  logo="ember"
  slim-heading="UI"
  strong-heading="Kit"
}}

<div class="docs-container docs-md">
  <div class="docs-section">
    <code>ember-ui-kit</code> is a composable component library meant as basic building blocks for application components.

    All components included in <code>ember-ui-kit</code> make no assumption on how the component should look and feel. As such, it is
    up to you to determine that. The components are built at an abstract level to help you manage DOM states and
    get out of the way when it's time to style it.
  </div>
</div>
